.vscode/settings.json
main
output_results/
output_*
error_*
scripts/*.txt
cms_benchmark.*
data/dataset_500000000_sorted.txt
data/total_dataset_500000000_sorted.txt
data/dataset_50000000_sorted.txt
data/total_dataset_50000000_sorted.txt
env/